.cart {
  position: relative;

  &__count {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: $accColor;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
  }
}