.combo {
  &__slider {
    position: relative;
  }

  &__slider-wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    opacity: 0.4;

    &--active, &--next, &--next + .combo__slide {
      opacity: 1;
    }
  }

  &__button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    transform: translateY(-50%);
    z-index: 2;

    &--prev {
      left: 0;
      transform: rotate(180deg) translateY(50%);
      background-image: url('../assets/img/png/arrow-right.png');
      background-position: 50% 50%;
    }

    &--next {
      right: 0;
      background-image: url('../assets/img/png/arrow-right.png');
      background-position: 50% 50%;
    }

    &--disabled {
      display: none;
    }
  }
}

.combo .product {

  &__info {
    padding: 40px;
  }

  &__image {
    background: $lightColor;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .combo {
    position: relative;

    &__bullet {
      cursor: pointer;
    }

    &__container {
      margin-left: 30vw;
    }

    &:before {
      content: '';
      background: $primColor;
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: 499px) {
  .combo {
    &__button {
      top: -30px;
    }
  }
  .combo .section__titles{
    margin-bottom: 40px;
  }
}