.giftset {

  &__tabs {
    display: flex;
  }

  &__tabs-wrapper {
    flex-grow: 1;
  }

  &__bullet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: calc(100% / 3);
    background: #EDF0F5;
    mix-blend-mode: normal;
    opacity: 0.3;

    &.active {
      opacity: 1;
    }
  }
}

.giftset .product {

  position: relative;
  max-width: none;

  &__image {
    position: absolute;
    left: 0;
    top: 50%;
    width: 70%;

    transform: translate(-50%, -50%);
  }

  &__info {
    box-sizing: border-box;
    padding: 3.5vw;
    padding-left: calc(20vw - 15px);
    min-height: 460px;
    align-items: flex-start;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .giftset {
    position: relative;
    background: $lightColor;

    &__tabs-wrapper {
      flex-grow: 0;
    }

    &__bullet {
      cursor: pointer;
    }

    &__container {
      margin-left: 30vw;
    }

    &:before {
      content: '';
      background: #fafafa;
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .giftset .product {
    max-width: 820px;

    &__image {
      width: 60%;
    }
  }
}

@media (max-width: 1023px) {
  .giftset .product {
    margin-left: 20vw;

    &__info {
      padding-left: calc(20vw + 15px);
    }
  }
}

@media (max-width: 767px) {
  .giftset {
    &__pagination {
      display: flex;
    }

    &__tabs {
      flex-direction: column;
    }

    &__bullet {
      height: 75px;
      width: calc(100% / 3);
    }
  }
  .giftset .product {
    margin-left: 0;
    padding-left: 20vw;

    &__info {
      min-height: 380px;
    }

    &__image {
      width: 40%;
      transform: translate(0, -50%);
    }
  }
}

@media (max-width: 499px) {
  .giftset .product {
    margin-left: 0;
    padding-left: 0;

    &__info {
      min-height: 380px;
      padding: 150px 15px 15px 15px;
    }

    &__image {
      width: 45%;
      top: 100px;
      right: 0;
      left: auto;
    }
  }
}

@media (max-width: 399px) {
  .giftset .product {

    &__image {
      width: 55%;
    }
  }
}