.modal {
  width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out;

  &__body {
    position: relative;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -30px;
    color: #fff;
    font-size: 30px;
  }
}

.modal.active {
  visibility: visible;
  opacity: 1;
}