.modal {
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out;

  &__body {
    box-sizing: border-box;
    position: relative;
    padding: 0 30px;
    margin: 0 15px;
  }

  &__close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 30px;
  }

  &--video .modal__body{
    width: 640px;
    height: 360px;
  }
}

.modal.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 560px) {
  .modal {
    &--video .modal__body{
      width: 400px;
      height: 240px;
    }
  }
}

@media (max-width: 400px) {
  .modal {
    &--video .modal__body{
      width: 400px;
      height: 180px;
    }
  }
}