@import '~normalize.css';
@import "vars";
@import "mixins";
@import "fonts";
@import "text";
@import "button";
@import "menu";
@import "intro";
@import "cart";
@import "modal";

body {
  font-family: 'Nunito', sans-serif;
}

.scroll-lock {
  overflow: hidden;
}

.content {
  transition: transform 0.5s;
}

.content.active {
  transform: translateX(-30%);
}

.container {
  box-sizing: border-box;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}