@import '~normalize.css';
@import "vars";
@import "mixins";
@import "fonts";
@import "button";
@import "intro";

.container{
  box-sizing: border-box;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}