.text {

  text-decoration: none;
  color: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;

  &--light {
    font-weight: 300;
  }

  &--bold {
    font-weight: 700;
  }

  &--extra-bold {
    font-weight: 900;
  }

  &--color1 {
    color: #ffffff;
  }

  &--size1 {
    font-size: 20px;
  }

  &--size2 {
    font-size: 24px;
  }

  &--size3 {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .text--link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 1px;
    transition: background-size .3s ease-out;
  }
  .text--link:hover {
    background-size: 100% 1px;
  }
}